@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 92% 57%; /* #f5c02c */
    --foreground: 0 0% 0%; /* black */
    --card: 43 92% 57%;
    --card-foreground: 0 0% 0%; /* black */
    --popover: 43 92% 57%;
    --popover-foreground: 0 0% 0%; /* black */
    --primary: 279 47% 47%; /* #8e44ad */
    --primary-foreground: 43 92% 95%; /* Lighter yellow */
    --secondary: 279 30% 60%; 
    --secondary-foreground: 43 92% 95%; /* Lighter yellow */
    --muted: 279 30% 50%;
    --muted-foreground: 0 0% 20%; /* dark grey for muted text */
    --accent: 279 40% 70%;
    --accent-foreground: 43 92% 95%; /* Lighter yellow */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 279 47% 57%;
    --input: 279 30% 50%;
    --ring: 279 47% 47%;
    --chart-1: 279 47% 47%;
    --chart-2: 279 30% 60%;
    --chart-3: 279 40% 70%;
    --chart-4: 279 30% 50%;
    --chart-5: 279 20% 70%;
    --radius: 1rem; /* 16px */
  }

  .dark {
    --background: 279 47% 15%;
    --foreground: 0 0% 100%; /* white */
    --card: 279 47% 20%;
    --card-foreground: 0 0% 100%; /* white */
    --popover: 279 47% 15%;
    --popover-foreground: 0 0% 100%; /* white */
    --primary: 43 92% 57%;
    --primary-foreground: 279 47% 15%;
    --secondary: 43 92% 40%;
    --secondary-foreground: 279 47% 10%;
    --muted: 279 47% 25%;
    --muted-foreground: 0 0% 80%; /* light grey for muted text */
    --accent: 43 80% 60%;
    --accent-foreground: 279 47% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 279 47% 30%;
    --input: 279 47% 25%;
    --ring: 43 92% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
